body{
    font-family: Arial, Helvetica, sans-serif;
}
h1,h2{
    text-transform: uppercase;
}
.header{
    text-align: center;
    color: #c300ff;
    font-size: 4.5vmax;
    -webkit-text-stroke: 2px #000000;
}
.slogan{
    font-size: 24px;
    font-style: italic;
    text-transform: capitalize;
    color: #96d600;
}
table{
    border-collapse: collapse;
}
th, td{
    border:1px solid #000000;
    
}
td.year{
    text-align: center;
}
a{
    text-decoration: none;
    color:#ffe600;
}
img{
    width: 100%;
}
