.header{
    text-align: center;
    font-size: 2vmax;
    color: rgb(241, 101, 7);
}
div.gallery{
    width: 100%;
    border: 1px solid #000000;
}
div.gallery div.el{
    margin:5px;
    padding:5px;
    border: 1px solid #08f327;
    width: 30%;
    float: left;
}
div.gallery div.el img{
    width: 100%;
}
.btn-go-back{
    clear: both;
    text-align: center;
    font-size: 1.5vmax;
    
}
.btn-go-back a{
    text-decoration: none;
    color: #8003f5;
}